.card{
    margin-top: 50px;
}
.d-1-inline-block align-text{
    margin-left: 200px;
}

body{
    background-color: rgb(255, 255, 255);
}

.img-fluid{
    width: 100%;
    height: auto;
    object-fit: contain;

} 
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;


}

h2{
margin: 40px auto;
display: flex;
justify-content: center;
font-family: 'Bungee', cursive;
}
.progress{
    margin: 70px auto;
    display: flex;

}
.border {
    border-width:4px !important;
}

.contact{
    margin-top: 300px;
}

#bar_covid {
    -vendor-animation-duration: 3s;
    -vendor-animation-delay: 2s;
    -vendor-animation-iteration-count: infinite;
  }

  .loader {
    position : fixed;
    z-index: 9999;
    background : url('icon-loader.gif') 50% 50% no-repeat;
    top : 0px;
    left : 0px;
    height : 100%;
    width : 100%;
    cursor : wait;
    }